.compOneContainer, .compTwoContainer,.containerThree{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.compOneContainer>input{
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    color: brown;
    font-weight: 800;
}

.compOneContainer>*, .compTwoContainer>*{
    margin: 5px 0;
}
.compOneContainer>button, .button{
    padding: 10px 15px;
    background-color: rgb(208, 80, 37);
    color: whitesmoke;
    border: none;
    box-shadow: 0 0 5px lightblue;
    border-radius: 20px;
}

.compTwoContainer{
    background-color: rgb(255, 196, 243);
}

.containerThree{
    height: 100vh;
    background-color: rgb(32, 218, 94);
}